.time-bar {
    position: absolute;
    z-index: 8000;
    bottom: 35px;
    left: 25px;
    width: 615px;
    height: 67px;
    border: 1px solid #1A1A1A
}

.time-bar .time-bar-mask {
    position: absolute;
    z-index: 8001;
    top: 0;
    left: 0;
    width: 615px;
    height: 67px;
    opacity: .7;
    background-color: #21262D;
    -webkit-filter: Alpha(opacity=70);
    filter: Alpha(opacity=70)
}

.time-bar .time-list {
    position: absolute;
    z-index: 8002;
    margin: 0;
    padding: 0;
    list-style: none
}

.time-bar .time-list li {
    float: left;
    width: 123px;
    height: 67px;
    list-style: none
}

.time-bar .time-list li a {
    display: block;
    height: 67px;
    text-decoration: none;
    color: #8F8F8F
}

.time-bar .time-list li a:hover {
    color: #0071C6
}

.time-bar .time-list li a:active {
    color: #007CD9
}

.time-bar .time-list li a.active, .time-bar .time-list li a.active:hover, .time-bar .time-list li a.active:active {
    height: 64px;
    color: #FFF;
    border-bottom: 3px solid #005799;
    background-color: #0071C6
}

.time-bar .time-list li a div {
    text-align: center
}

.time-bar .time-list .time-list-date {
    font-size: 24px;
    padding-top: 8px
}

.time-bar .time-list .time-list-day {
    font-size: 12px
}

.legend {
    font-size: 12px;
    position: absolute;
    right: 335px;
    bottom: 58px;
    padding-bottom: 32px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: right .5s ease;
    -moz-transition: right .5s ease;
    -o-transition: right .5s ease;
    transition: right .5s ease;
    pointer-events: none;
    color: #FFF
}

.legend span {
    display: block;
    float: left;
    margin-right: 1px;
    padding: 2px 5px
}

.legend .heat-1 {
    background-color: #26D921
}

.legend .heat-2 {
    background-color: #7CB424
}

.legend .heat-3 {
    background-color: #F3C802
}

.legend .heat-4 {
    background-color: #FF8F35
}

.legend .heat-5 {
    background-color: #FC341E
}

.legend .map-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 20px;
    _background: url(/images/map-logo.png) no-repeat 0 0;
    background-repeat: no-repeat;
}

.info-panel {
    font-size: 12px;
    position: absolute;
    z-index: 900;
    width: 320px;
    padding: 0;
    color: #fff
}

.info-panel .front {
    background-color: #0071C6
}

.info-panel .arrow {
    font-size: 0;
    position: absolute;
    top: 10px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid #3EC360;
    border-bottom: 8px solid transparent;
    _border-top-color: tomato;
    _border-bottom-color: tomato;
    _-webkit-filter: chroma(color=tomato);
    _filter: chroma(color=tomato)
}

.info-panel .front .arrow {
    border-right-color: #0071C6
}

.info-panel .name {
    font-size: 20px;
    display: inline-block;
    width: 14em;
    *display: inline;
    *zoom: 1
}

.info-panel .close {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 26px;
    height: 26px;
    cursor: pointer;
    _background-image: url(/images/close.gif);
    background-repeat: no-repeat;
}

.info-panel .back .close {
    _background: url(/images/close_back.gif) no-repeat 6px 6px
}

.info-panel .view-trend, .info-panel .view-province, .info-panel .view-overview {
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff
}

.info-panel .view-trend-nationwide, .info-panel .view-province-nationwide {
    display: inline-block;
    width: 139px;
    *display: inline;
    *zoom: 1
}

.info-panel .view-trend, .info-panel .view-province {
    background-color: #0065B0
}

.info-panel .view-province-nationwide {
    margin-right: 10px
}

.info-panel .view-overview {
    background-color: #485064
}

.info-panel .hd {
    line-height: 25px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted #2887CF
}

.info-panel .back .hd {
    border-bottom: 1px dotted #666D7D
}

.info-panel .bd-section {
    margin-top: 16px;
    padding-top: 7px;
    border-top: 1px dashed #EDDADA
}

.info-panel .scenic-top-ten {
    margin-top: 0;
    border-top: 0
}

.info-panel .data-label {
    font-size: 16px
}

.info-panel .data-heat {
    font-family: "微软雅黑";
    font-size: 52px;
    height: 70px
}

.info-panel .data-uv {
    margin-top: 15px
}

.info-panel .data-temperature {
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 1;
    overflow: visible;
    margin-top: 12px;
    margin-bottom: 1px
}

.info-panel .data-empty {
    line-height: 22px;
    display: inline-block;
    margin: 40px 0;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #0065B0;
    *display: inline;
    *zoom: 1
}

.info-panel .data-comfort {
    line-height: 22px;
    display: inline-block;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *display: inline;
    *zoom: 1
}

.info-panel .data-weather {
    line-height: 22px;
    display: inline-block;
    padding: 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #0065B0;
    *display: inline;
    *zoom: 1
}

.info-panel .data-comfort-1 {
    background-color: #26D921
}

.info-panel .data-comfort-2 {
    background-color: #7CB424
}

.info-panel .data-comfort-3 {
    background-color: #F3C802
}

.info-panel .data-comfort-4 {
    background-color: #FF8F35
}

.info-panel .data-comfort-5 {
    background-color: #FC341E
}

.info-panel .detail {
    padding: 20px 0
}

.info-panel .heat-data-section {
    display: inline-block;
    width: 144px;
    text-align: center;
    vertical-align: top;
    border-right: 1px dotted #2887CF;
    *display: inline;
    *zoom: 1
}

.info-panel .weather-data-section {
    display: inline-block;
    width: 145px;
    margin-left: -1px;
    text-align: center;
    vertical-align: top;
    border-left: 1px dotted #2887CF;
    *display: inline;
    *zoom: 1
}

.info-panel .weather-icon {
    width: 40px;
    height: 40px;
    margin: 12px auto 18px;
    background-repeat: no-repeat
}

.info-panel .trend {
    position: relative;
    display: block
}

.trend-chart-lines {
    margin: 0;
    padding: 0
}

.trend-chart-lines li {
    height: 23px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #5F677C
}

.trend-chart {
    position: absolute;
    top: 4px;
    left: 5px;
    vertical-align: middle
}

.trend .trend-chart-legend {
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: #939AAC
}

.trend .chart-date-left {
    float: left
}

.trend .chart-date-right {
    float: right
}

.trend .trend-chart-date {
    text-align: center
}

.i-real {
    font-size: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background: #fff;
    *display: inline;
    *zoom: 1;
    *vertical-align: middle
}

.i-predict {
    font-size: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-left: 10px;
    background: #FFD200;
    *display: inline;
    *zoom: 1;
    *vertical-align: middle
}

.i-today {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -3px;
    margin-left: 10px;
    border: 0;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    *display: inline;
    *zoom: 1;
    background-repeat: no-repeat;
}

:root * > .i-today {
    width: 7px;
    height: 7px;
    margin-bottom: -2px;
    border: 2px solid #FFD200;
    background: 0 0
}

.info-panel {
    -webkit-transition: -webkit-transform .7s ease;
    -moz-transition: -moz-transform .7s ease;
    -o-transition: -o-transform .7s ease;
    transition: transform .7s ease;
    -webkit-transform: perspective(600px);
    -moz-transform: perspective(600px);
    -ms-transform: perspective(600px);
    -o-transform: perspective(600px);
    transform: perspective(600px);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.show-trend {
    -webkit-transform: perspective(600px) rotateY(180deg) translateX(100%);
    -moz-transform: perspective(600px) rotateY(180deg) translateX(100%);
    -ms-transform: perspective(600px) rotateY(180deg) translateX(100%);
    -o-transform: perspective(600px) rotateY(180deg) translateX(100%);
    transform: perspective(600px) rotateY(180deg) translateX(100%);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible
}

.info-panel .front {
    position: absolute;
    z-index: 902;
    top: 0;
    left: 0;
    display: block;
    width: 290px;
    padding: 10px 15px 15px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.info-panel .back {
    position: absolute;
    z-index: 901;
    top: 0;
    left: 0;
    display: none \9;
    width: 290px;
    padding: 10px 15px 15px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #555C6E;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.show-trend .front {
    z-index: 901;
    display: none \9
}

.show-trend .back {
    z-index: 902;
    display: block
}

@media screen and (min-width: 0\0
) {
    .info-panel {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none
    }

    .info-panel .front {
        position: absolute;
        z-index: 902;
        top: 0;
        left: 0;
        display: block;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        pointer-events: auto;
        opacity: 1;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .info-panel .back {
        position: absolute;
        z-index: 901;
        top: 0;
        left: 0;
        display: none \9;
        -webkit-transition: all .7s ease-in-out;
        -moz-transition: all .7s ease-in-out;
        -o-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out;
        pointer-events: none;
        opacity: 0;
        background-color: #555C6E;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .show-trend .front {
        z-index: 901;
        display: none \9;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        pointer-events: none;
        opacity: 0
    }

    .show-trend .back {
        z-index: 902;
        display: block;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
        pointer-events: auto;
        opacity: 1
    }
}

.info-panel .front .arrow {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    opacity: 1
}

.info-panel .back .arrow {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    opacity: 0;
    border-right-color: #555C6E
}

.show-trend .back .arrow {
    opacity: 1
}

.show-trend .front .arrow {
    opacity: 0
}

.heat-chart-link a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-top: 14px
}

.zoom {
    position: relative;
    width: 20px;
    height: 117px
}

.zoom .zoom-control {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    color: #7F7F7F;
    background-color: #FFF
}

.zoom .zoom-control.zoom-out {
    line-height: 17px;
    bottom: 0
}

.zoom .zoom-control.zoom-in {
    top: 0
}

.zoom .zoom-bar {
    position: absolute;
    top: 21px;
    left: 9px;
    overflow: hidden;
    width: 2px;
    height: 75px;
    background-color: #7F7F7F
}

.zoom .zoom-bar .zoom-bar-active {
    width: 2px;
    height: 100%;
    background-color: #FFF
}

.zoom .zoom-grab-container {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 77px
}

.zoom .zoom-grab {
    position: absolute;
    top: 57px;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #0071C6
}

.zoom .zoom-grab .zoom-grab-icon {
    position: absolute;
    top: 3px;
    left: 5px;
    overflow: hidden;
    width: 10px;
    height: 14px;
    margin: 0;
    padding: 0;
    list-style: none
}

.zoom .zoom-grab .zoom-grab-icon li {
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 2px;
    margin: 2px 0;
    padding: 0;
    list-style: none;
    background-color: #FFF
}

.list-scroll .scroll .scroll-bar ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none
}

input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    cursor: pointer;
}

.list-scroll .scroll .scroll-bar .list {
    font-size: 14px;
    line-height: 44px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none
}

.list li {
    margin: 0 20px 0 0;
    padding: 0 10px 0 20px;
    cursor: pointer
}

.list li:hover {
    background-color: #1F252D;
    background-color: rgba(31, 37, 45, .7)
}

.list li.selected {
    background-color: rgba(47, 54, 64, .7);
    _background-color: #2F3640
}

.list li.empty-list {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0 20px;
    cursor: default;
    color: #A2AAB0;
    background: transparent
}

.list li a {
    width: 15em;
    margin-right: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #A2AAB0;
    border-bottom: 1px dashed #323F47
}

.list li a:hover {
    _background-color: #1F252D
}

.list li span {
    cursor: pointer
}

.list li .scenic {
    display: inline-block;
    overflow: hidden;
    width: 14em;
    margin-right: 5px;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    color: #A2AAB0
}

.list li .scenic.scenic-name-uv {
    width: 11em
}

.list li .scenic-heat {
    display: inline-block;
    overflow: hidden;
    width: 164px;
    height: 11px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent
}

.list li .scenic-uv {
    line-height: 44px;
    display: inline-block;
    overflow: hidden;
    width: 95px;
    height: 44px;
    text-align: right;
    vertical-align: middle
}

.side {
    position: absolute;
    top: 0.5px;
    right: 0;
    width: 319px;
    height: 100%;
    -webkit-transition: right .5s ease;
    -moz-transition: right .5s ease;
    -o-transition: right .5s ease;
    transition: right .5s ease;
    border-left: 1px solid #1A1A1A
}

.side.close {
    right: -320px
}

.side .side-toggle:before {
    position: absolute;
    top: 30px;
    left: 5px;
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF
}

.side .side-toggle:after {
    position: absolute;
    top: 30px;
    left: 3px;
    content: " ";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #C54331
}

.side .side-toggle:hover:after {
    border-left-color: #D34B38
}

.side .side-toggle:active:after {
    border-left-color: #B43E2D
}

.side.close .side-toggle:before {
    left: -2px;
    border-style: solid;
    border-color: transparent #FFF transparent transparent
}

.side.close .side-toggle:after {
    left: 0;
    border-style: solid;
    border-color: transparent #C54331 transparent transparent
}

.side.close .side-toggle:hover:after {
    border-right-color: #D34B38
}

.side.close .side-toggle:active:after {
    border-right-color: #B43E2D
}

.side .side-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 319px;
    height: 100%;
    opacity: .7;
    background-color: #21262D;
    -webkit-filter: Alpha(opacity=70);
    filter: Alpha(opacity=70)
}

.side .side-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 319px;
    height: 100%
}

.bdsharebuttonbox {
    float: right;
    overflow: hidden;
    height: 44px;
    margin-right: 15px
}

.bdsharebuttonbox .label {
    line-height: 40px;
    float: left;
    height: 40px;
    color: #A2AAB0;
    background-repeat: no-repeat
}

.side .bdsharebuttonbox a {
    margin-right: 0
}

.combo-box {
    font-size: 12px;
    position: relative;
    z-index: 9000;
    height: 28px;
    padding: 0;
    border: 1px solid #1E242D;
    background-color: #4B5159
}

.combo-box .combo-box-trigger {
    line-height: 28px;
    display: block;
    padding: 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #CDD5DC
}

.combo-box.active .combo-box-trigger, .combo-box .combo-box-trigger:hover {
    color: #FFF
}

.combo-box .combo-box-trigger .drop-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #CDD5DC transparent transparent;
    _border-color: #CDD5DC tomato tomato;
    _filter: chroma(color=tomato)
}

.combo-box .combo-box-trigger:hover .drop-icon {
    border-color: #FFF transparent transparent;
    _border-color: #FFF tomato tomato;
    _filter: chroma(color=tomato)
}

.combo-box.active .combo-box-trigger .drop-icon, .combo-box.active .combo-box-trigger:hover .drop-icon {
    top: 7px;
    border-color: transparent transparent #FFF;
    _border-color: tomato tomato #FFF;
    _filter: chroma(color=tomato)
}

.combo-box .combo-box-wrapper {
    position: absolute;
    z-index: 9001;
    top: 28px;
    right: -1px;
    display: none;
    width: 100%;
    border: 1px solid #1E242D;
    background-color: #4B5159
}

.combo-box .combo-box-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.combo-box .combo-box-item {
    line-height: 15px;
    height: 29px;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    color: #858A91
}

.combo-box .combo-box-item a {
    line-height: 15px;
    display: block;
    height: 15px;
    margin: 0;
    padding: 7px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #858A91
}

.combo-box .combo-box-item a:hover {
    color: #CDD5DC;
    background-color: #606B78
}

.area-list {
    line-height: 20px;
    margin: 10px;
    max-height: 550px;
    overflow-y: auto;
    scrollbar-arrow-color: rgba(35,41,49,2);
    scrollbar-face-color: rgba(35,41,49,2);
    scrollbar-3dlight-color:  rgb(75,81,89);
    scrollbar-highlight-color:  rgb(75,81,89);
    scrollbar-shadow-color: rgb(75,81,89);
    scrollbar-darkshadow-color: rgb(75,81,89);
    scrollbar-track-color: rgb(75,81,89);
    scrollbar-base-color:rgb(75,81,89);
}

.area-list::-webkit-scrollbar {
    width:12px;
}
/* 滚动槽 */
.area-list::-webkit-scrollbar-track {
    border-radius:10px;
}
/* 滚动条滑块 */
.area-list::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(35,41,49,0.8);
}
.area-list::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(35,41,49,0.4);
}

.area-list .area-group {
    margin: 20px 10px
}

.area-list .area-group-name {
    float: left;
    color: #858A91
}

.area-list .area-group-list {
    padding-left: 36px
}

.area-list .area-group-item {
    margin: 0 10px;
    text-decoration: none;
    color: #CDD5DC
}

.area-list .area-group-item:hover {
    text-decoration: underline
}

.search-container {
    position: relative;
    z-index: 999;
    margin: 0 0px 18px;
    padding-left: 5px;
    width: 150px;
    padding-right: 10px;
}

.search-container .search-box {
    position: relative;
    width: 200px;
    height: 35px;
    margin-bottom: 10px
}

.search-container .search-input {
    font-size: 12px;
    line-height: 33px;
    width: 178px;
    height: 33px;
    margin: 0;
    padding: 0 10px 0 10px;
    color: #4f5964;
    border: 1px solid #393e45;
    outline: 0;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 165px 8px;
    background-color: #2f3640;
}

.active .search-input {
    background-image: none
}

.search-container .focus-search-input, .active .search-input {
    background-color: #E8ECF1
}

.search-container .focus-search-input {
    background-image: url(../images/search-b.png);
}

.active .search-input {
    background-image: none
}

.search-container .with-placeholder {
}

.search-container ::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.search-container ::-webkit-search-results-button {
    -webkit-appearance: none
}

.search-container ::-ms-clear {
    display: none
}

.seach-container :-ms-input-placeholder {
    color: #888
}

.search-container ::-webkit-input-placeholder {
    color: #888
}

.search-container ::-moz-placeholder {
    opacity: 1 !important;
    color: #888
}

.search-container .search-close {
    position: absolute;
    top: 8px;
    right: 5px;
    display: none;
    width: 19px;
    height: 19px;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #9C9C9C;
    background-color: transparent \9;
    _background-image: url(../images/close-b.gif);
    background-repeat: no-repeat;
}

.search-container .search-close-active {
    display: block;
}

.search-container .search-close:hover {
    background-color: #AEAEAE;
    background-color: transparent \9;
    _background-image: url(../images/close-a.gif);
    background-repeat: no-repeat;
}

.search-container .search-close:active {
    background-color: #8F8F8F;
    background-color: transparent \9;
    _background-image: url(../images/close-b.gif);
    background-repeat: no-repeat;
}

.search-container .search-close::before {
    position: absolute;
    top: 3px;
    left: 8px;
    width: 3px;
    height: 13px;
    content: " ";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFF
}

.search-container .search-close::after {
    position: absolute;
    top: 3px;
    left: 8px;
    width: 3px;
    height: 13px;
    content: " ";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #FFF
}


    /*.search-container .search-input {
        font-size: 12px;
        line-height: 33px;
        width: 178px;
        height: 33px;
        margin: 0;
        padding: 0 10px 0 10px;
        color: #4f5964;
        border: 1px solid #393e45;
        outline: 0;
        background-image: url(../images/search.png);
        background-repeat: no-repeat;
        background-position: 165px 8px;
        background-color: #2f3640;
    }

    .active .search-input {
        background-image: none
    }

    .search-container .focus-search-input, .active .search-input {
        background-color: #E8ECF1
    }

    .search-container .focus-search-input {
        background-image: url(/images/query-active.png)
    }

    .active .search-input {
        background-image: none
    }

    .search-container .with-placeholder {
    }

    .search-container ::-webkit-search-cancel-button {
        -webkit-appearance: none
    }

    .search-container ::-webkit-search-results-button {
        -webkit-appearance: none
    }

    .seach-container :-ms-input-placeholder {
        color: #888
    }

    .search-container ::-webkit-input-placeholder {
        color: #888
    }

    .search-container ::-moz-placeholder {
        opacity: 1 !important;
        color: #888
    }

    .search-container .search-close {
        position: absolute;
        top: 8px;
        right: 5px;
        display: none;
        width: 19px;
        height: 19px;
        cursor: pointer;
        text-decoration: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #9C9C9C;
        background-color: transparent \9;
        background-repeat: no-repeat;
    }

    .search-container .search-close-active {
        display: block
    }

    .search-container .search-close:hover {
        background-color: #AEAEAE;
        background-color: transparent \9;
        _background-image: url(/images/close_hover.gif);
        background-repeat: no-repeat;
    }

    .search-container .search-close:active {
        background-color: #8F8F8F;
        background-color: transparent \9;
        _background-image: url(/images/close_active.gif);
        background-repeat: no-repeat;
    }

    .search-container .search-close::before {
        position: absolute;
        top: 3px;
        left: 8px;
        width: 3px;
        height: 13px;
        content: " ";
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #FFF
    }

    .search-container .search-close::after {
        position: absolute;
        top: 3px;
        left: 8px;
        width: 3px;
        height: 13px;
        content: " ";
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #FFF
    }*/
.search-container .search-button {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    width: 78px;
    height: 33px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #024E87
}

.search-container .search-button .search-button-inner {
    font-size: 12px;
    line-height: 32px;
    width: 77px;
    height: 32px;
    text-indent: 15px;
    color: #FFF;
    border-top: 1px solid #0082CE;
    border-left: 1px solid #0082CE;
    background-color: #0071C6
}

.search-container .search-button:hover .search-button-inner {
    border-top: 1px solid #1B91DC;
    border-left: 1px solid #1B91DC;
    background-color: #1081D6
}

.search-container .search-button:active .search-button-inner {
    border-top: 1px solid #007AC1;
    border-left: 1px solid #007AC1;
    background-color: #0068B7
}

.search-container .search-button .search-button-icon {
    position: absolute;
    top: 10px;
    left: 45px;
    width: 14px;
    height: 14px;
    _background: url(/images/search_normal.gif) no-repeat 0 0;
    background-repeat: no-repeat;
}

.search-container .search-button:hover .search-button-icon {
    _background: url(/images/search_hover.gif) no-repeat 0 0
}

.search-container .search-button:active .search-button-icon {
    _background: url(/images/search_active.gif) no-repeat 0 0
}

.search-container .search-result {
    overflow: hidden;
    margin: 0
}

.search-container .search-loading {
    line-height: 30px;
    height: 30px;
    margin-top: 100px;
    margin-left: 138px;
    text-indent: 40px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(/images/loading.gif)
}

.search-container .search-tip {
    line-height: 150%;
    color: #F05E56;
    margin: 15px
}

.search-container .search-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 15px
}

.search-container .search-item {
    line-height: 22px;
    height: 22px;
    margin: 10px 0;
    padding: 0 10px;
    list-style: none;
    cursor: pointer
}

.search-container .search-item.first {
    margin-top: 0
}

.search-container .search-item.last {
    margin-bottom: 0
}

.search-container .search-item.focus {
    background-color: #606469
}

.search-container .search-scenic, .search-container .search-province {
    color: #4AA5E9
}

.search-container .search-word {
    color: #F05E56
}

.scroll-bar {
    position: relative;
    overflow: hidden
}

.scroll-bar .scroll-bar-item {
    position: relative;
    top: 0
}

.scroll-bar .scroll-bar-rail {
    position: absolute;
    top: 0;
    right: 10px;
    overflow: visible;
    width: 7px;
    cursor: pointer
}

.scroll-bar .scroll-bar-grab {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    background-color: #445058
}

.scroll-bar .scroll-bar-line {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 3px;
    width: 1px;
    height: 100%;
    cursor: pointer;
    background-color: #323F47
}

.ui-widget-overlay {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}

.ui-dialog {
    font-size: 14px;
    z-index: 10001;
    color: #000;
    background: #FFF
}

.ui-dialog .ui-dialog-titlebar {
    font-size: 18px;
    line-height: 45px;
    overflow: hidden;
    height: 45px;
    padding: 0 10px 0 20px;
    cursor: move;
    color: #FFF;
    background: #0071C6
}

.hide-title .ui-dialog-titlebar {
    display: none
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 45px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0 0;
    -webkit-appearance: none
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    overflow: hidden;
    width: 14px;
    height: 14px;
    _background-image: url(/images/close.gif);
    background-repeat: no-repeat;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
    display: none
}

.ui-dialog .ui-dialog-content {
    margin: 20px;
    overflow: auto
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 15px 20px;
    text-align: center;
    border-top: 1px solid #EEE
}

.ui-dialog .ui-dialog-buttonpane .ui-button {
    line-height: 39px;
    height: 39px;
    padding: 0 10px;
    cursor: pointer;
    color: #FFF;
    border: 0;
    outline: 0;
    background: #0071C6;
    -webkit-appearance: none
}

.weather-cloudy {
    background-repeat: no-repeat;
}

.weather-dust {
    background-repeat: no-repeat;
}

.weather-duststorm {
    background-repeat: no-repeat;
}

.weather-foggy {
    background-repeat: no-repeat;
}

.weather-h-rain {
    background-repeat: no-repeat;
}

.weather-h-rain2storm {
    background-repeat: no-repeat;
}

.weather-h-snow {
    background-repeat: no-repeat;
}

.weather-h-snow2snowstorm {
    background-repeat: no-repeat;
}

.weather-h-storm {
    background-repeat: no-repeat;
}

.weather-h2s-storm {
    background-repeat: no-repeat;
}

.weather-haze {
    background-repeat: no-repeat;
}

.weather-ice-rain {
    background-repeat: no-repeat;
}

.weather-l-rain {
    background-repeat: no-repeat;
}

.weather-l-snow {
    background-repeat: no-repeat;
}

.weather-l2m-rain {
    background-repeat: no-repeat;
}

.weather-l2m-snow {
    background-repeat: no-repeat;
}

.weather-m-rain {
    background-repeat: no-repeat;
}

.weather-m-snow {
    background-repeat: no-repeat;
}

.weather-m2h-rain {
    background-repeat: no-repeat;
}

.weather-m2h-snow {
    background-repeat: no-repeat;
}

.weather-overcast {
    background-repeat: no-repeat;
}

.weather-s-storm {
    background-repeat: no-repeat;
}

.weather-sand {
    background-repeat: no-repeat;
}

.weather-sandstorm {
    background-repeat: no-repeat;
}

.weather-shower {
    background-repeat: no-repeat;
}

.weather-sleet {
    background-repeat: no-repeat;
}

.weather-snow-flurry {
    background-repeat: no-repeat;
}

.weather-snowstorm {
    background-repeat: no-repeat;
}

.weather-storm {
    background-repeat: no-repeat;
}

.weather-storm2h-storm {
    background-repeat: no-repeat;
}

.weather-sunny {
    background-repeat: no-repeat;
}

.weather-thundershower-with-hail {
    background-repeat: no-repeat;
}

.weather-thundershower {
    background-repeat: no-repeat;
}

html, body, .page {
    min-width: 1000px;
    color: #fff;
    background-color: #232931
}

.wrapper {
    overflow: hidden
}

.back-to {
    line-height: 28px;
    position: absolute;
    top: 28px;
    right: 340px;
    display: none;
    width: 95px;
    height: 28px;
    padding: 0 9px;
    cursor: pointer;
    -webkit-transition: right .5s ease;
    -moz-transition: right .5s ease;
    -o-transition: right .5s ease;
    transition: right .5s ease;
    text-align: right;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF
}

.back-to-show {
    display: block
}

.back-to-slide {
    right: 20px
}

.back-to div {
    line-height: 28px;
    overflow: hidden;
    width: 95px;
    height: 28px;
    text-align: right;
    background-repeat: no-repeat;
}

.filter {
    font-size: 0;
    height: 30px;
    padding: 20px 18px 20px 17px;
    _overflow: hidden
}

.filter .combo-box {
    float: left
}

.filter .search {
    width: 35%;
    margin-right: 5px
}

.filter .order {
    width: 60%
}

.filter .search .combo-box-wrapper {
    width: 416px
}

.scroll {
    position: relative;
    overflow-y: auto;
    height: 73%;
    font-size: 14px;
    line-height: 44px;
    scrollbar-arrow-color: rgba(75,81,89,2);
    scrollbar-face-color: rgba(75,81,89,2);
    scrollbar-3dlight-color:  rgb(35,41,49);
    scrollbar-highlight-color:  rgb(35,41,49);
    scrollbar-shadow-color: rgb(35,41,49);
    scrollbar-darkshadow-color: rgb(35,41,49);
    scrollbar-track-color: rgb(35,41,49);
    scrollbar-base-color:rgb(35,41,49);
}
.scroll::-webkit-scrollbar {
    width:12px;
}
/* 滚动槽 */
.scroll::-webkit-scrollbar-track {
    border-radius:10px;
}
/* 滚动条滑块 */
.scroll::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(68,80,88,0.8);
}
.scroll::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(68,80,88,0.4);
}
.search-scroll {
    position: absolute;
    top: 35px;
    width: 198px;
    background-color: #4b5159
}

.search-scroll .scroll-bar-line {
    background-color: #666D77
}

.search-scroll .scroll-bar-grab {
    background-color: #808791
}

.list-scroll {
    margin: 7px 0;
}

.list-scroll .scroll-bar-rail {
    right: 21px
}

.anchorBL {
    display: none
}

.top-marker-label {
    position: absolute;
    top: 58px;
    left: -63px;
    width: 150px;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    color: #fff
}

.top-marker-label span {
    cursor: pointer
}

.vml {
    display: block;
    behavior: url(#default#VML)
}

body .bdshare_dialog_bg {
    position: absolute !important;
    z-index: 10000;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    filter: Alpha(opacity=0)
}

body .bdshare_dialog_box {
    z-index: 10001;
    height: 346px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

body .bdshare_dialog_box .bdshare_dialog_top {
    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    overflow: hidden;
    height: 45px;
    padding: 0 10px 0 20px;
    cursor: default;
    color: #FFF;
    background: #0071C6
}

body .bdshare_dialog_box .bdshare_dialog_top .bdshare_dialog_close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    float: none;
    overflow: hidden;
    width: 34px;
    height: 45px;
    margin: 0;
    background-repeat: no-repeat;
}

.ui-dialog .about-dialog {
    margin: 0;
    padding: 0;
    -webkit-user-select: auto;

}

.ui-dialog .about-dialog .about-explain {
    margin: 20px
}

.ui-dialog .about-dialog .about-explain p {
    line-height: 150%;
    text-indent: 2em
}

.ui-dialog .about-dialog .about-explain p.about-image {
    text-align: center;
    text-indent: 0
}

.fb-modal {
    color: #555
}

.legend .map-logo {
    background-position: -98px 0px
}

.info-panel .close {
    background-position: -142px -34px
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
    background-position: -148px -40px
}

body .bdshare_dialog_box .bdshare_dialog_top .bdshare_dialog_close {
    background-position: -138px -25px
}

.i-today {
    background-position: -148px -74px
}

.list li .heat-1 {
    background-position: -124px -108px
}

.list li .heat-2 {
    background-position: -95px -139px
}

.list li .heat-3 {
    background-position: -67px -170px
}

.list li .heat-4 {
    background-position: -38px -201px
}

.list li .heat-5 {
    background-position: 0px -232px
}

.side .bdsharebuttonbox .qzone {
    background-position: -134px -263px
}

.side .bdsharebuttonbox .weibo {
    background-position: -134px -311px
}

.side .bdsharebuttonbox .weixin {
    background-position: -134px -359px
}

.side .bdsharebuttonbox .baidu {
    background-position: -134px -407px
}

.side .bdsharebuttonbox .plus {
    background-position: -134px -455px
}

.side .bdsharebuttonbox .qzone:hover {
    background-position: -134px -503px
}

.side .bdsharebuttonbox .weibo:hover {
    background-position: -134px -551px
}

.side .bdsharebuttonbox .weixin:hover {
    background-position: -134px -599px
}

.side .bdsharebuttonbox .baidu:hover {
    background-position: -134px -647px
}

.side .bdsharebuttonbox .plus:hover {
    background-position: -134px -695px
}

.search-container .search-close {
    background-position: -143px -743px
}

.search-container .search-close:hover {
    background-position: -143px -782px
}

.search-container .search-close:active {
    background-position: -143px -821px
}

.search-container .search-button .search-button-icon {
    background-position: -148px -860px
}

.weather-cloudy {
    background-position: -122px -894px
}

.weather-dust {
    background-position: -122px -954px
}

.weather-duststorm {
    background-position: -122px -1014px
}

.weather-foggy {
    background-position: -122px -1074px
}

.weather-h-rain {
    background-position: -122px -1134px
}

.weather-h-rain2storm {
    background-position: -122px -1194px
}

.weather-h-snow {
    background-position: -122px -1254px
}

.weather-h-snow2snowstorm {
    background-position: -122px -1314px
}

.weather-h-storm {
    background-position: -122px -1374px
}

.weather-h2s-storm {
    background-position: -122px -1434px
}

.weather-haze {
    background-position: -122px -1494px
}

.weather-ice-rain {
    background-position: -122px -1554px
}

.weather-l-rain {
    background-position: -122px -1614px
}

.weather-l-snow {
    background-position: -122px -1674px
}

.weather-l2m-rain {
    background-position: -122px -1734px
}

.weather-l2m-snow {
    background-position: -122px -1794px
}

.weather-m-rain {
    background-position: -122px -1854px
}

.weather-m-snow {
    background-position: -122px -1914px
}

.weather-m2h-rain {
    background-position: -122px -1974px
}

.weather-m2h-snow {
    background-position: -122px -2034px
}

.weather-overcast {
    background-position: -122px -2094px
}

.weather-s-storm {
    background-position: -122px -2154px
}

.weather-sand {
    background-position: -122px -2214px
}

.weather-sandstorm {
    background-position: -122px -2274px
}

.weather-shower {
    background-position: -122px -2334px
}

.weather-sleet {
    background-position: -122px -2394px
}

.weather-snow-flurry {
    background-position: -122px -2454px
}

.weather-snowstorm {
    background-position: -122px -2514px
}

.weather-storm {
    background-position: -122px -2574px
}

.weather-storm2h-storm {
    background-position: -122px -2634px
}

.weather-sunny {
    background-position: -122px -2694px
}

.weather-thundershower-with-hail {
    background-position: -122px -2754px
}

.weather-thundershower {
    background-position: -122px -2814px
}

.back-to div {
    background-position: -146px -2869px
}
