*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body{
    background-color: #f5f5f5;
}

.top{
    width: 100%;
    height: 27px;
    background: #8ba4d8;
    
}
.top-content{
    width: 1000px;
    margin: 0 auto;
}
.top-content li{
    list-style: none;
    float: right;
    width: 70px;
    line-height: 27px;
}
.top-content a:link,.top-content a:visited{
    color: green;
    text-decoration: none;
}
.top-content a:hover, .top-content a:active{
    color: red;
    text-decoration: none;
}

.wrap{
    width: 1000px;
    margin: 0 auto;
}
.logo{
    height:80px;
    background: #fff;
}
.logo-left{
    float: left;
    height: inherit;
    line-height: 80px;
    width: 200px;
}
.logo-right{
    width: 300px;
    float: right;
    height: 27px;
    margin-top: 30px;
    color: #8E8E8E;
}
.logo-right img{
    vertical-align: middle;
    margin-right: 4px;
}
.tel{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #C00;
}
.nav{
    height: 40px;
    display: block;
}
.nav_left{
    height: 40px;
    width: 10px;
    background: url("images/nav_left.jpg") no-repeat;
    float: left;
}
.nav_mid{
    width: 980px;
    background: url("images/nav_bg.jpg") repeat-x;
    float: left;
    height: inherit;
}
.nav_mid_left,.nav_mid_right{
    float: left;
}
.nav_mid_left{
    width: 680px;
}
.nav_mid_left li{
    float: left;
    list-style: none;
    width:100px ;
    text-align: center;
    line-height: 40px;
}
.nav_mid_left a:link,.nav_mid_left a:visited{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-family: Arial, "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", "文泉驿微米黑", STXihei, "华文细黑", sans-serif;
}
.nav_mid_left a:hover,.nav_mid_left a:active{
    text-decoration: none;
    color: yellow;
    font-size: 16px;
    font-family: Arial, "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", "文泉驿微米黑", STXihei, "华文细黑", sans-serif;
}
.nav_mid_right{
    width: 300px;
}
.search_text{
    height: 25px;
    width: 190px;
    margin-top: 5px;
    background: url("images/search.jpg") no-repeat right center;
    background-color: #FFF;
    padding-right: 25px;
    border: 1px solid #fff;
}
.nav_right{
    height: 40px;
    width: 10px;
    background: url("images/nav_right.jpg") no-repeat;
    float: left;
}
.ad{
    height: 310px;
    overflow: hidden;
}
.main{
    height: auto;
    background: #fff;
    margin-top: 5px;
}
.news{
    width: 340px;
    height: 250px;
    margin: 0 7px;
    float: left;
}
.title{
    height: 35px;
    border-bottom: 1px solid #999;
    line-height: 35px;
}
.title_left{
    float: left;
    width: 70%;
    line-height: 35px;
    color: #8E8E8E;
    font-family: Arial, "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", "文泉驿微米黑", STXihei, "华文细黑", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}
.title_right{
    width: 20%;
    float: right;
    line-height: 35px;
    color: #999999;
    text-align: right;
    padding-right: 10px;
    font-family: Arial, "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", "文泉驿微米黑", STXihei, "华文细黑", sans-serif;
}
.title_right a{
    text-decoration: none;
}

.pic_news{
    height: 80px;
    margin-top: 10px;
    line-height: 22px;
}
.pic_news img,.course_pic img{
    float: left;
    margin: 0 5px;
}
.pic_news a,.course_pic a{
    color: #C00;
    text-decoration: none;
}
.news_list{
    margin-top: 20px;
}
.news_list li{
    list-style-type:none ;
    background:url("images/list.jpg") no-repeat;
    padding-left: 10px;
    margin: 8px;
    border-bottom: 1px dotted #999999;
}
.news_list a:link,.news_list a:visited{
    text-decoration: none;
    color: #000;
}
.news_list a:hover,.news_list a:active{
    text-decoration: none;
    color: #F00;
}
.news_list span{
    color: #999;
    float: right;
}
.course{
    width: 400px;
    height: 250px;
    margin: 0 7px;
    float: left;
}
.sidebar{
    width: 230px;
    height: 250px;
    float: left;
}
.course_pic{
    margin-top: 10px;
    height: 120px;
    line-height: 22px;
}
.course_type{
    height: 37px;
    width: 372px;
    background:url("images/product_type_bg.jpg") no-repeat;
    margin: 20px auto;
}

.course_type li{
    list-style-type: none;
    float: left;
    line-height: 37px;
    margin: 0 15px;
    text-align: center;
}

.video{
    height: 185px;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
}
.video_content{
    height: 150px;
}
.sidebar_ad{
    height: 55px;
    border: 1px solid #e8e8e8;
    margin: 10px 0;
}
.copy_right{
    width: 100%;
    height: 200px;
    margin: 0 auto;
}